section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: floralwhite;
}
table{
    text-align: center;
}
tr{ 
    padding: 15px;
}
td{
    /*display: inline-block;*/
    padding: 5px;
    width: 30%  ;
}

.planetTr{
    padding-top: 15px;
    background-color: gray;
}

.trForResidents{ 
    text-align: center;
    width: 100%;
    background-color: gainsboro;
} 